/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&family=Roboto:wght@300;400;700&display=swap');

/* page.module.css */
:root {
  --primary-color: #00ffff;
  --secondary-color: #ff00ff;
  --background-color: #0a0a1f;
  --text-color: #ffffff;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}