:root {
  --max-width: 1200px;
  --border-radius: 12px;
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-geist-sans);
  --primary-color: #00ffff;
  --bg-color: #1a1a1a;
  --text-color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-sans);
}

body {
  color: var(--text-color);
  background: var(--bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  min-height: calc(100vh - 120px);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
